{% extends 'watercooler/home.html' %}

{% block body %}
<div class="container">
	<div class="post_idea tab">
		<button class="tablinks" onclick="openCity(event, 'Make a post')"><span><i class="fas fa-pen"></i></span>Make a post</button>
		<button class="tablinks" onclick="openCity(event, 'Photo/Video')"><span><i class="far fa-images"></i></span>Photo/Video</button>
		<form method="POST">
		{% csrf_token %}
		<button class="button_post" type="submit">Post</button>
		<div id="Make a post" class="tabcontent">
			<textarea rows="5" cols="50" placeholder="Write Something Here...." name="content"></textarea>
		</div>
		<div id="Photo/Video" class="tabcontent">
			<span>Caption:<input type="text" name="caption"></span>
			<span>Upload Image<input type="file" name="image"></span>
		</div>
		</form>
	</div>
</div>
{% for post in postlist %}
	<div class="POSTS">
		<h3>{{ post.author }}</h3>
		<h5>{{ post.content }}</h5>
		{% if post.image %}
		<img src="{{ post.image.url }}"/>
		{% endif %}
		<div class="row react">
			<p class="col" id="Like"><span><i class="fa fa-star"> </i> </span>  LIKE</p>

		</div>
		</form>
	</div>
{% endfor %}
{% endblock %}