{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>WELCOME TO YOUR PROFILE!</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'home.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>	
<body>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand HEAD" href="#"><i class="far fa-laugh-beam"></i>TheWaterCooler</a>
       <input type="text" name="search" placeholder="   Search here" id="search">
       <button><i class="fas fa-search"></i></button>
       </div>
       <a href="{% url 'watercooler:logout' %}" type="button" id="LogoutButton">Logout</a>
    </div>
       <!-- <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul> -->
   <!--  <ul class="nav navbar-nav navbar-right">
    	<li><div>
      <button>Sign Up</button>
      <button>Login</button>
  </div></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul> -->
</nav>
	  	<div class="row bodyrow">
		<div class="col-sm-3 col-md-2 fields">
			<p></p>
			<p></p>
			<p></p>
			<p></p>
			<p id="water"><h4><strong>The Water Cooler</strong></h4></p>
			<p></p>
			<p>
				<i class="fas fa-laptop"></i>   Computers
			</p>
			<p>
				<i class="fas fa-globe"></i>    IT
			</p>
			<p>
				<i class="fas fa-car-alt"></i>   Mechanical
			</p>
			<p>
				<i class="fas fa-bolt"></i>    EXTC
			</p>

		</div>
		<div class="col-sm-5 col-md-7 main">
			{% block body %}
			{% endblock %}
		</div>
		<div class="right_fields col-sm-3 col-md-2">
			<h4>The Coworker Central</h4>
			<br>
			{% for x in userlist %}
				<p>{{ x.username }}</p>
			{% endfor %}
		</div>
	</div>

<script src="{% static 'mainfeed.js' %}"></script>

</body>
</html>