{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Water Cooler</title>
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div class="heading">
  <h1>The Water Cooler</h1>
  <h2>Collaborate. Connect. Cherish</h2>
</div>

<div class="form">
  <div class="tab">
    <a href="{% url 'watercooler:login' %}" type="button">Login</a>
    <a href="{% url 'watercooler:register' %}" type="button">Register</a>

</div>

<div class="container" id="forms">
  {% block body %}

  {% endblock %}
</div>
</body>
</html> 