<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="POST" action="{% url 'watercoolerapp:signupformview' %}">
		{% csrf_token %}
		{{form.as_p}}
		<input type="submit" name="submit">
	</form>
</body>
</html>