body{
		/*background-image: url(https://tse3.mm.bing.net/th?id=OIP.QDIp4tYIoYm4e3gI1QB5rgHaE4&pid=15.1&P=0&w=234&h=155);
		*/
		background-color: white;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.header{
		text-align: center;
	}
	img{
		border-radius: 20px;
	}
	.fields{
		margin-top: 1%;
		padding-left: 40px;
		min-height: 800px;/*
		border: 1px solid black;*/
		background-color: #eee;
		border-right: 2px solid blue;
		box-shadow:5px 5px rgba(0, 0, 200, 0.5);
		margin-left: 2%;
	}
	.main {
		background-color: #eee;
		margin-top: 1%;
		margin-left: 2%;
		width: 80%;
		border-right: 3px solid blue;
		box-shadow:5px 5px rgba(0, 0, 200, 0.5);
	}
	.bodyrow {
		height: 100%;
		font-size: 20px;
		line-height: 40px;
	}
	.navbar{
		background-color: #353377;
	}
	.navbar{
		border-bottom: 1px solid black;
		border-top: 1px solid black;
	}
	.react p{
    float: left;
    margin-left: 100px;
}

.tab {
    overflow: hidden;
    border: 1px solid black;
    margin-top: 10px;
    /*background-color: #f1f1f1;*/
}


.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button.button_post{
	float: right;
	padding-left: 30px;
	padding-right: 30px;
}

.tab button:hover {
    background-color: #ddd;
}


.tab button.active {
    background-color: #ccc;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #eee;
    border-top: none;
}

.search{
    float: center;
}

.POSTS{
	margin-top: 10px;
	border: 1px solid black;
	width: 80%;
	margin-left: 10%;
	padding-left: 5%;
	padding-top: 5%;
}

.POSTS h3 {
	padding-bottom: 2%;
}

.right_fields{
		margin-top: 1%;
		margin-left: 2%;
		/*padding-left: 40px;*/
		min-height: 800px;
		background-color: #eee;
		width: 40%;
		border-right: 3px solid blue;
		float: right;
		text-align: center;
	padding-top: 10px;
	box-shadow: 5px 5px rgba(0, 0, 200, 0.5);
}

#twc{
	width:10px;
	height: 10px;
}

#search{
	width: 500px;
	border-radius: 15px;
}

.HEAD{
	margin-right: 150px;
	color: white;
}

.float_right{
	margin-right: 350px;
}

.navbar_right{
	color: white;
}

