
body {font-family: Arial;
    background-image: url(image/water.jpg);
}

.heading{
    text-align: center;
    margin-top: 5%;
    color: white;
}

.heading h1{
    font-size: 100px;
}

.heading h2{
    font-size: 50px;
}

.extra{
    color: white;
    text-align: center;
    margin-top: 125px;
    font-size: 20px;
    width: 70%;
    margin-left: 15%; 
    margin-bottom: 15%;
}

.form{
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


.tab a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


.tab a:hover {
    background-color: #ddd;
}


.tab a.active {
    background-color: #ccc;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#forms {
    background-color: white;
}
